$hero-image-height: 360px;
$background-colour: #050005;
$background-colour-off: #0b0b10;
$text-colour: #fff;
$text-colour-muted: #9999a5;
$spacer-tiny: 9px;
$spacer-small: 15px;
$spacer-medium: 2 * $spacer-small;
$spacer-large: 1.5 * $spacer-medium;

@import url('https://use.typekit.net/ozl1rin.css'); // proxima-nova font - licenced.

@font-face {
    font-family: 'Quicksand';
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
        url('../../assets/fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 600;
    src: local('Quicksand Bold'), local('Quicksand-Bold'),
        url('../../assets/fonts/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-weight: 100;
    src: local('Quicksand Light'), local('Quicksand-Light'),
        url('../../assets/fonts/Quicksand-Light.ttf') format('truetype');
}

@mixin theme() {
    color: $text-colour;
    font-family: 'Quicksand', 'sans-serif';
}

@mixin link() {
    a {
        color: $text-colour;
        &:visited {
            color: $text-colour-muted;
        }

        &:hover {
            color: $text-colour;
        }

        &:active {
            color: $text-colour;
        }
    }
}
