$hero-image-height: 360px;
$background-colour: black;
$text-colour: white;
$text-colour-muted: #999;
$spacer-tiny: 9px;
$spacer-small: 15px;
$spacer-medium: 2 * $spacer-small;
$spacer-large: 1.5 * $spacer-medium;

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
        url('../../assets/fonts/Quicksand-Regular.ttf') format('truetype');
}

@mixin theme() {
    color: $text-colour;
    font-family: 'Quicksand', 'sans-serif';
}
