@import '~sass-mq/mq';
@import '../../style/responsive-breakpoints';
@import '../../style/theme';

h1,
h2,
h3,
h4,
h5 {
    @include theme;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    white-space: pre-wrap;
}

h1 {
    font-family: 'proxima-nova', 'Quicksand', sans-serif;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 0.07em;
    line-height: 1.05em;
    padding-bottom: 0.15em;

    @include mq($from: $breakpoint-tablet-portrait) {
        font-size: 4em;
        line-height: 1.25em;
        padding-bottom: 0;
    }
}

h2 {
    font-size: 1.4em;
    line-height: 1.3em;
    @include mq($from: $breakpoint-tablet-portrait) {
        font-size: 1.7em;
        line-height: 1.35em;
    }
}

h3 {
    font-size: 1.4em;
    line-height: 1.45em;

    @include mq($from: $breakpoint-desktop-wide) {
        font-size: 1.55em;
        line-height: 1.2em;
    }
}

h4 {
    font-size: 1em;
    line-height: 1.55em;

    @include mq($from: $breakpoint-desktop) {
        font-size: 1.2em;
        line-height: 1.55em;
    }
}

h5 {
    font-size: 0.8em;
    line-height: 1.55em;

    @include mq($from: $breakpoint-desktop) {
        font-size: 1em;
        line-height: 1.55em;
    }
}
