@import '../../style/theme';

.slide {
    &__container {
        @include theme();
    }

    &__content > * {
        display: block; // removes unwanted gap between image and caption div
        font-size: 0; // removes unwanted gap between video and caption div
        width: 100%;
    }

    &__caption-box {
        background-color: $background-colour;
        padding: $spacer-small $spacer-medium $spacer-small * 1.25 $spacer-medium;
        pointer-events: none;
    }
}
