@import '~sass-mq/mq';
@import '../../style/responsive-breakpoints';
@import '../../style/theme';

.slide {
    &__container {
        @include theme();
        position: relative;
    }
    &__content > * {
        display: block; // removes unwanted gap between image and caption div
        font-size: 0; // removes unwanted gap between video and caption div
        width: 100%;
    }

    &__caption-box {
        background-color: $background-colour-off;
        font-size: 0.9em;

        width: 100%;

        @include mq($from: $breakpoint-tablet-portrait) {
            background-color: rgba($color: $background-colour, $alpha: 0.65);
            bottom: 0;
            position: absolute;
            width: 100%;
        }
    }
    &__caption-text {
        padding: $spacer-tiny * 0.8 $spacer-small $spacer-tiny $spacer-small;
        white-space: pre-wrap;
    }
}
