@import '../../style/theme';

.project-specs {
    &__container {
        @include theme();
    }
    &__title {
        font-size: 1.5625em;
        text-transform: uppercase;
        margin-bottom: $spacer-small;
    }
    &__container {
        .entry {
            &__container {
                padding-bottom: $spacer-tiny;
            }
            &__title {
                text-transform: uppercase;
            }
            &__content {
                @include link;
            }
        }
    }
}
