@import '../../style/theme';

.project-specs {
    &__container {
        @include theme();
    }

    &__title {
        margin-bottom: $spacer-small * 1.2;
    }

    &__container {
        .entry {
            &__container {
                font-size: 1em;
                letter-spacing: 0.01em;
                line-height: 1.45em;
                padding-bottom: $spacer-tiny;
            }

            &__title {
                letter-spacing: 0.04em;
                margin-bottom: $spacer-small * 1.5;
                text-transform: uppercase;
            }

            &__content {
                @include link;
                letter-spacing: 0.01em;
            }
        }
    }
}
