@import '~sass-mq/mq';
@import '../../style/theme';
@import '../../style/responsive-breakpoints';

//preload
body::before {
    content: url('https://d39hr3ghz5orka.cloudfront.net/images/spartathlon/sparta_header_SM.jpg')
        url('https://d39hr3ghz5orka.cloudfront.net/images/labsquare/lab2_header_SM.jpg')
        url('https://d39hr3ghz5orka.cloudfront.net/images/goma/goma_header_GR.jpg');
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
    z-index: -1;
}
.project-page {
    &__container {
        @include theme();
        background-color: $background-colour;
        height: 100%;
        padding-bottom: $spacer-large * 1.5;
    }

    &__contents {
        margin: $spacer-medium auto;
        max-width: 75%;

        @include mq($from: $breakpoint-desktop) {
            max-width: 52%;
        }

        .project-contents__container {
            margin: $spacer-medium 0 $spacer-large 0;

            & > * {
                margin-bottom: $spacer-medium * 1.25;
            }

            h2,
            h3,
            h4 {
                margin-bottom: -$spacer-small * 1.5;
                margin-top: $spacer-tiny;
            }

            p {
                @include link;
                font-size: 0.95em;
                font-weight: 400;
                letter-spacing: 0.01em;
                margin: 0;
            }

            p > p,
            li {
                line-height: 1.55em;
                padding-bottom: $spacer-tiny;
            }

            img {
                width: 100%;
            }
        }
    }
}

.hero {
    &__image {
        background-position: 50% 0;
        background-size: auto $hero-image-height + 1px;
        height: $hero-image-height;
        position: relative;
    }
}

.navigation {
    &__container {
        @include link;
        font-size: 0.9em;
        font-weight: 400;
        height: 0;
        margin: 0 auto;
        padding-bottom: $spacer-small;
        padding-top: $spacer-small * 1.5;
        position: static;
        width: 75%;

        @include mq($from: $breakpoint-desktop) {
            position: absolute;
            width: 100%;
        }

        &--sticky {
            @extend .navigation__container;
            @include mq($from: $breakpoint-desktop) {
                position: fixed;
                top: 78px;
            }
        }
    }

    &__left {
        display: inline-flex;
        @include mq($from: $breakpoint-desktop) {
            padding-left: $spacer-small * 1.8;
        }
    }

    &__right {
        display: inline-flex;
        float: right;
        text-align: right;
        @include mq($from: $breakpoint-desktop) {
            padding-right: $spacer-small * 1.8;
        }
    }
}

.logo {
    &__container {
        padding: $spacer-small * 1.5 0 0 $spacer-medium;
        @include mq($from: $breakpoint-desktop) {
            position: fixed;
        }
    }

    &__link {
        color: $text-colour;
        text-decoration: none;
        text-shadow: 0 0 4px rgba($color: $background-colour, $alpha: 0.9);
        @include mq($from: $breakpoint-desktop) {
            text-shadow: 0 0 5px rgba($color: $background-colour, $alpha: 0.7);
        }
    }

    &__title {
        h3 {
            font-family: 'proxima-nova', 'Quicksand', sans-serif;
            font-weight: 400;
        }
    }
}

.footer {
    &__container {
        color: $text-colour-muted;
        float: right;
        font-size: 0.7em;
        padding-right: $spacer-large;
    }

    &__icon {
        height: 0.9em;
        padding-right: $spacer-tiny * 0.5;
        width: 0.9em;
    }
}
