@import '../../style/theme';

.project-page {
    &__content {
        max-width: 75%;
        margin: $spacer-large auto;
    }
    &__hero-image {
        background-position: 50% 0;
        background-size: auto $hero-image-height;
        height: $hero-image-height;
    }
}
