@import '../../style/theme';

.project-page {
    &__container {
        @include theme();
        background-color: $background-colour;
        height: 100%;
        padding-bottom: $spacer-large;
    }
    &__content {
        max-width: 75%;
        margin: $spacer-large auto 0 auto;
    }
    &__hero-image {
        background-position: 50% 0;
        background-size: auto $hero-image-height;
        height: $hero-image-height;
    }
}
